<div class="content" id="content_body">
	<div class="row">
		<div class="col-lg-12">
            <div class="card" style="background: #0f0f20;">
              <div class="card-body">
                <form method="POST" id="incident_form">
                  <label>Select An Incident, Or Write A New One</label>
                  <div class="form-group">
                    <!----
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"></i>
                      </div>      
                    </div>----->
                    <select id="incident" name="incident" class="form-control">
                      <option value="earth_quake" class="g_option">Earth Quake</option>
                      <option value="bomb_blast" class="g_option">Bomb Blast</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="" name="" class="form-control" placeholder="Write A New Incident" id="incident2">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select id="location" name="location" class="form-control">
                          <option value="null" disabled selected="selected">Select Your Community</option>
                          <option value="ozuoba" class="g_option">Ozuoba</option>
                          <option value="choba" class="g_option">Choba</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-danger float-right" type="submit">Announce</button>
                </form>
              </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card dashboard_card">
				<div class="card-body">
					<div class="d-flex justify-content-center internal_card">
						<a href="javascript:void(0)" class="admin_dashboard" id="toggle_incidents">Incidents</a>
						<a href="javascript:void(0)" class="admin_dashboard" id="toggle_users">Users</a>
						<a href="javascript:void(0)" class="admin_dashboard" id="toggle_admins">Admins</a>
					</div>
				</div>
			</div>
			<div class="jumbotron main_dashboard">
				<div class="incidents">
					<div class="row">
						{% for incidents in incidence %}
							<div class="col-md-6">
								<div class="card incidents_card">
									<div class="card-body">
										<h5>A(n) {{incidents.name}} occured in Ozuoba at {{incidents.date_added.strftime('%d %b %Y, %I%p')}} </h5>
										<h5> {{incidents.markers.count()}} Person(s) where affected by the incidence   <a href="{{url_for('single_post', id=incidents.id)}}" class="links"> view details </a></h5>
									</div>
									<hr>
									<div class="card-footer it_card_footer">
										<h5>Announced By <strong><a href="{{url_for('others_profile', id=incidents.author.id)}}" class="links">{{incidents.author.name}}</a></strong></h5>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="users">
					<div class="row">
						{% for user in citizens %}
							<div class="col-md-6">
								<div class="card users_card">
									<div class="card-body" id="card_body">
										<h5 class="user_users_cred">Name: {{user.name}}</h5>
										<h5 class="user_users_cred">Joined: {{user.date_joined.strftime('%dnd %b %Y')}} </h5>
										<h5 class="user_users_cred">Gender: {{user.gender.title()}} </h5>
										<h5 class="user_users_cred">Number: 0{{user.number}} </h5>
										{% if user.gender == 'male' %}
											<a href="{{url_for('others_profile', id=user.id)}}" class="cred_link">view his complete details </a>
										{% else %}
											<a href="{{url_for('others_profile', id=user.id)}}" class="cred_link">view her complete details </a>
										{% endif %}
										{% if user.account_pend == True %}
										    <div class="form-check float-right user_users_check">
										        <label class="form-check-label suspend checked" user_id="{{user.id}}">
										            <input class="form-check-input" type="checkbox" value="" checked>
										            Relieve This Account
										            <span class="form-check-sign">
										                <span class="check"></span>
										            </span>
										        </label>
										    </div>
										{% else %}
										    <div class="form-check float-right user_users_check">
										        <label class="form-check-label suspend unchecked" user_id="{{user.id}}">
										            <input class="form-check-input" type="checkbox" value="">
										            Suspend This Account
										            <span class="form-check-sign">
										                <span class="check"></span>
										            </span>
										        </label>
										    </div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="admins">
					<div class="row">
						{% for user in admins %}
							<div class="col-md-6">
								<div class="card admins_card">
									<div class="card-body">
										<h5 class="user_users_cred">Name: {{user.name}}</h5>
										<h5 class="user_users_cred">Joined: {{user.date_joined.strftime('%dnd %b %Y')}} </h5>
										<h5 class="user_users_cred">Gender: {{user.gender.title()}} </h5>
										<h5 class="user_users_cred">Number: 0{{user.number}} </h5>
										{% if user == current_user%}
											<a href="{{url_for('others_profile', id=user.id)}}" class="cred_link">view your profile </a>
										{% else %}
											{% if user.gender == 'male' %}
												<a href="{{url_for('others_profile', id=user.id)}}" class="cred_link">view his complete details </a>
											{% else %}
												<a href="{{url_for('others_profile', id=user.id)}}" class="cred_link">view her complete details </a>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.dashboard_card{
	background: #0f0f25;
}
.internal_card{
	margin-bottom: -32px !important;
	margin-top: -5px !important;
	overflow-x: scroll;
	width: 100% !important;
	display: flex !important;
}
.internal_card::-webkit-scrollbar{
	height: 3px !important;
	margin-top: -20px !important;
}
.internal_card::-webkit-scrollbar-track{
	background: transparent;
}
.internal_card::-webkit-scrollbar-thumb{
	background: transparent;
}
.admin_dashboard{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px !important;
	margin-top: 7px !important;
	text-transform: uppercase;
	color: aliceblue;
	transition: 0.4s linear;
	transition-delay: 0.2s;
}
.admin_dashboard:hover{
	color: lavenderblush;
	transition: 0.4s linear;
	transition-delay: 0.2s;
}
.main_dashboard{
	border-radius: 3px;
	background: #0f0f20;
	margin-top: -20px;
}
.incidents_card{
	background: radial-gradient(circle at 11.3% -0.8%, rgb(153, 14, 241) 0%, rgb(41, 3, 101) 100.2%);
	box-shadow: none !important;
}
.users_card{
	background: radial-gradient(circle at 11.3% -0.8%, rgb(153, 14, 241) 0%, rgb(41, 3, 101) 100.2%);
	box-shadow: none !important;
}
.admins_card{
	background: radial-gradient(circle at 11.3% -0.8%, rgb(153, 14, 241) 0%, rgb(41, 3, 101) 100.2%);
	box-shadow: none !important;
}
.user_users_cred{
	margin-bottom: 5px;
	font-size: 14px;
	color: #070707 !important;
}
.cred_link{
	color: #f0f0f0 !important;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.cred_link:hover{
	color: #cabbe9 !important;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.user_users_check{

}


@media(max-width: 595px){
	.internal_card{
		padding-left: 30px;
	}
}
@media(max-width: 565px){
	.internal_card{
		padding-left: 50px;
	}
}
@media(max-width: 535px){
	.internal_card{
		padding-left: 70px;
	}
}
@media(max-width: 515px){
	.internal_card{
		padding-left: 90px;
	}
}
@media(max-width: 500px){
	.internal_card{
		padding-left: 110px;
	}
}
@media(max-width: 475px){
	.internal_card{
		padding-left: 130px;
	}
}
@media(max-width: 455px){
	.internal_card{
		padding-left: 150px;
	}
}
@media(max-width: 435px){
	.internal_card{
		padding-left: 180px;
	}
}
@media(max-width: 405px){
	.internal_card{
		padding-left: 210px;
	}
}
@media(max-width: 375px){
	.internal_card{
		padding-left: 240px;
	}
}
@media(max-width: 345px){
	.internal_card{
		padding-left: 270px;
	}
}
.it_card_footer{
	margin-top: -20px;
	margin-bottom: -20px;
}
.links{
	color: #0f0f20 !important;
	font-weight: 510;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(".users").hide();
$(".admins").hide();
$("#toggle_incidents").css("color", "blue");


$("#toggle_users").on("click", function(){
	$(".incidents").fadeOut(350, function(){
		$(".admins").fadeOut(1);
		$("#toggle_incidents").css("color", "aliceblue");
		$(this).css("color", "blue");
		$(".users").fadeIn(350);
	});
});

$("#toggle_incidents").on("click", function(){
	$(".users").fadeOut(350, function(){
		$(".admins").fadeOut(1);
		$("#toggle_users").css("color", "aliceblue");
		$(this).css("color", "blue");
		$(".incidents").fadeIn(350);
	});
});

$("#toggle_admins").on("click", function(){
	$(".users").fadeOut(350, function(){
		$(".incidents").fadeOut(1);
		$("#toggle_users").css("color", "aliceblue");
		$(this).css("color", "blue");
		$(".admins").fadeIn(350);
	});
});

$(".suspend").on("click", function(){
	var check = $(this).hasClass("checked")
	var user_id = $(this).attr("user_id");
	var me = $(this);
	if (check == true){
		req = $.ajax({
			url: '/relieve_user',
			type: 'post',
			data: {user_id:user_id},
			success: function(){
				me.attr("class", "form-check-label suspend unchecked");
				me.find('input').text("Suspend This Account");
			}
		})
	}else{
		req = $.ajax({
			url: '/suspend_user',
			type: 'post',
			data: {user_id:user_id},
			success: function(){
				me.attr("class", "form-check-label suspend checked");
				me.find('input').text("Relieve This Account");
			}
		});
	}
})

</script>