{% extends 'base.html' %}

{% block title %}Messages {% endblock %}

{% block body_content %}
<div class="content">
	<div class="row" id="chat_row">
		<div class="col-md-9" id="chat_col">
			<div class="jumbotron" id="main_chat_box">
				<div class="chat_content" id="chat_content">
					<div class="row d-flex justify-content-center" id="chat_row">
						<div class="col-md-6">
							<div class="card chat_card">
								<div class="card-body">
									<h5 class="chat_text">What's up dude, how have you been doing since last week?. I just care about you</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6 current_user_card">
							<div class="card chat_card">
								<div class="card-body">
									<h5 class="chat_text">Hello David Nelson i'm Good, You?</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card chat_card">
								<div class="card-body">
									<h5 class="chat_text">What's up dude, how have you been doing since last week?. I just care about you</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card chat_card">
								<div class="card-body">
									<h5 class="chat_text">What's up dude, how have you been doing since last week?. I just care about you</h5>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card chat_card current_user_card">
								<div class="card-body">
									<h5 class="chat_text">What's up dude, how have you been doing since last week?. I just care about you</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form_div">
					<form method="POST" id="chat_form">
						<div class="form-group">
							<input type="" name="" class="form-control chat_box_form" user_id="{{current_user.id}}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
#main_chat_box{
	background: #0f0f20;
	height: 415px !important;
}
.chat_content{
	height: 280px;
	overflow-y: scroll;
	overflow-x: hidden !important;
	padding-right: 15px;
}

.chat_content::-webkit-scrollbar{
	width: 10px !important;
	margin-top: -20px !important;
}
.chat_content::-webkit-scrollbar-track{
	background: #002651;
}
.chat_content::-webkit-scrollbar-thumb{
	background: radial-gradient(circle at 10% 20%, rgb(15, 72, 223) 0%, rgb(24, 41, 80) 81.1%);
	cursor: pointer !important;
	border-radius: 10px;
}

#sec_jumbotron{
	background: #0f0f20;
}
.current_user_card{
	margin-top: 35px;
}
.chat_text{
	white-space: pre-wrap !important;
	margin-bottom: -2px;
}
.chat_card{
	background: #581b98;
}

.form_div{
	margin-top: 10px;
	margin-bottom: -30px !important;
}

@media(max-width: 767px){
	.chat_card{
		width: 20rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 330px;
	}
}

@media(max-width: 700px){
	.chat_card{
		width: 17rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 320px;
	}
}

@media(max-width: 645px){
	.chat_card{
		width: 17rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 260px;
	}
}


@media(max-width: 585px){
	.chat_card{
		width: 16rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 220px;
	}
}

@media(max-width: 535px){
	.chat_card{
		width: 15rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 210px;
	}
}

@media(max-width: 510px){
	.chat_card{
		width: 14rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 200px;
	}
}

@media(max-width: 475px){
	.chat_card{
		width: 14rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 170px;
	}
}

@media(max-width: 450px){
	.chat_card{
		width: 14rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 160px;
	}
}

@media(max-width: 435px){
	.chat_card{
		width: 14rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 130px;
	}
}

@media(max-width: 410px){
	.chat_card{
		width: 13rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 110px;
		padding-right: 40px;
	}
}

@media(max-width: 375px){
	.chat_card{
		width: 13rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 90px;
	}
}

@media(max-width: 355px){
	.chat_card{
		width: 14rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 70px;
	}
}

@media(max-width: 345px){
	.chat_card{
		width: 12rem;
	}
	.current_user_card{
		margin-top: 1px;
		margin-left: 85px;
	}
}

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script>
	$(function(){

		$("#chat_form").on("submit", function(e){
			e.preventDefault();

			var message_sent = $(".chat_box_form").val();
			var id = $(".chat_box_form").attr("user_id");
			$.post('/sending', {'message':message_sent, 'id':id}, function(){
				console.log("Sent");
				$('.chat_box_form').val('');
			});
		});

		var pusher = new Pusher('2281811cac7fdcfac988', {
			cluster: 'us2',
			encypted: true
		});

		var channel = pusher.subscribe('chat-channel');

		channel.bind('new-message', function(data) {
			let message_template = `<div class="col-md-6 current_user_card">
										<div class="card chat_card">
											<div class="card-body">
												<h5 class="chat_text">${data.message}</h5>
											</div>
										</div>
									</div>`
			$("#chat_content").append(message_template);
			$("#chat_content").load("#chat_content")
		});

	});
</script>

{% endblock %}