{% extends 'base.html' %}

{% block title %}Messages {% endblock %}

{% block body_content %}

<div class="content">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-lg-7">
            <div class="card big_cards clearfix" id="main_chat">
                <div class="card-body">
                    <p class="text-right choose_colors_text"><i class="fa fa-bars choose_colors_icon"></i></p>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-4">
                            <div class="card position-fixed hidden" id="color_row" style="display: none !important;">
                                <div class="card-body color_body">
                                    <div class="red_color">
                                    </div>
                                    <div class="green_color">
                                    </div>
                                    <div class="yellow_color">
                                    </div>
                                    <div class="blue_color">
                                    </div>
                                    <div class="default_color">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="chat_content" id="chat_content">
                        <div class="col left non_user_col">
                            <div class="card non_user_chat_card">
                                <div class="card-body">
                                    <h5 class="chat_text non_user_chat_text">What's up bro, stop taking laws into your hands. It's not good.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col right current_user_col">
                            <div class="card current_user_chat_card">
                                <div class="card-body">
                                    <h5 class="chat_text">What's up bro, stop taking laws into your hands. It's not good.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col left non_user_col">
                            <div class="card non_user_chat_card">
                                <div class="card-body">
                                    <h5 class="chat_text non_user_chat_text">What's up bro, stop taking laws into your hands. It's not good.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col right current_user_col">
                            <div class="card current_user_chat_card">
                                <div class="card-body">
                                    <h5 class="chat_text">What's up bro, stop taking laws into your hands. It's not good.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col right current_user_col">
                            <div class="card current_user_chat_card">
                                <div class="card-body">
                                    <h5 class="chat_text">What's up bro, stop taking laws into your hands. It's not good.
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user_typing">
                        
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form_div">
                        <form method="POST" id="chat_form">
                            <div class="row">
                                <div class="col-lg-10 col-sm-8 col-md-9">
                                    <div class="form-group">
                                        <textarea class="form-control message_box" user_id="{{current_user.id}}" rows="1" placeholder="Type A Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 col-md-3">
                                    <button type="submit" class="send_button"><i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-lg-5">
            <div class="jumbotron big_cards">
            </div>
        </div>
    </div>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.big_cards{
    background: #0f0f20;
    box-shadow: none !important;
}
#main_chat{
    height: 430px;
}
.current_user_col{
   margin-top: 25px;
}
.non_user_chat_card{
    background: #581b98;
    width: 55%;
}
.current_user_chat_card{
    width: 55%;
    background: #cabbe9;
}
.chat_text{
    margin-bottom: -12px;
    white-space: pre-wrap;
    text-align: left;
    color: #0f0f20 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}
.chat_content{
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden !important;
    padding-right: 15px;
}

.chat_content::-webkit-scrollbar{
    width: 10px !important;
    margin-top: -20px !important;
}
.chat_content::-webkit-scrollbar-track{
    background: #002651;
}
.chat_content::-webkit-scrollbar-thumb{
    background: radial-gradient(circle at 10% 20%, rgb(15, 72, 223) 0%, rgb(24, 41, 80) 81.1%);
    cursor: pointer !important;
    border-radius: 10px;
}
.form_div{
    margin-top: -29px;
}
.message_box{
    border: 1px solid #0f0f40 !important;
    border-radius: 6px !important;
    transition: 0.2s linear !important;
    transition-delay: 0.2s linear !important;
}
.message_box:focus{
    border: 1px solid #581b98 !important;
    transition: 0.2s linear !important;
    transition-delay: 0.2s linear !important;
}
.message_box::-webkit-scrollbar{
    width: 8px !important;
}
.message_box::-webkit-scrollbar-track{
    background: #0f0f20;
}
.message_box::-webkit-scrollbar-thumb{
    background: #581b98;
    cursor: pointer !important;
    border-radius: 10px;
}
.right{
    margin-left: 210px;
}
.choose_colors_icon{
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
}
#color_row{
    margin-bottom: -2px !important;
    background: radial-gradient(circle at 11.3% -0.8%, rgb(153, 14, 241) 0%, rgb(41, 3, 101) 100.2%);
    box-shadow: 1px 3px 5px black;
    width: 200px !important;
    z-index: 100 !important;
}
.red_color{
    height: 30px;
    width: 30px;
    background: maroon;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid maroon;
    box-shadow: 0px 0px 5px black;
    margin-right: 5px;
}

.green_color{
    height: 30px;
    width: 30px;
    background: #22d1ee;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #22d1ee;
    box-shadow: 0px 0px 5px black;
    margin-right: 5px;
}

.blue_color{
    height: 30px;
    width: 30px;
    background: #364f6b;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #364f6b;
    box-shadow: 0px 0px 5px black;
    margin-right: 5px;
}
.yellow_color{
    height: 30px;
    width: 30px;
    background: #faee1c;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #faee1c;
    box-shadow: 0px 0px 5px black;
    margin-right: 5px;
}

.default_color{
    height: 30px;
    width: 30px;
    background: #581b98;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #581b98;
    box-shadow: 0px 0px 5px black;
    margin-right: 5px;
}

.color_body{
    overflow-x: scroll;
    display: flex !important;
}
.color_body::-webkit-scrollbar{
    display: none !important;
}
.color_body::-webkit-scrollbar-track{
    background: transparent;
}
.color_body::-webkit-scrollbar-thumb{
    background: transparent;
    cursor: pointer !important;
    border-radius: 10px;
}
.new_color{
    color: aliceblue !important;
}
.send_button{
    outline: none !important;
    box-shadow: none !important;
    background: #0f0a3c !important;
    padding: 11px 30px !important;
    border: 1px solid #0f0a3c !important;
    margin-top: 1px;
    border-radius: 10px;
    transition: 0.2s linear !important;
    transition-delay: 0.2s linear !important;
    margin-left: -14px;
}
.send_button i{
    color: aliceblue !important
}
.send_button:hover{
    background: #0f0a3f !important;
    transition: 0.2s linear !important;
    transition-delay: 0.2s linear !important;
}
</style>

{% include 'messages/media.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script src="//rawgit.com/ngryman/jquery.finger/v0.1.2/dist/jquery.finger.js"></script>
<script>


$('.current_user_chat_card').on('press', function(e) {
    alert("Clicked")
});


$(".choose_colors_text").on("click", function(){
    var check = $("#color_row").hasClass("hidden");
    if ( check == true ){
        $("#color_row").show(500);
        $("#color_row").removeClass("hidden")
    }else{
        $("#color_row").hide(500);
        $("#color_row").addClass("hidden");
    }
});

$(".red_color").on("click", function(){
    $(".non_user_chat_card").css("background", "linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224))");
    $(".non_user_chat_text").addClass("new_color");
});

$(".green_color").on("click", function(){
    $(".non_user_chat_card").css("background", "#22d1ee");
    $(".non_user_chat_text").removeClass("new_color");
});

$(".yellow_color").on("click", function(){
    $(".non_user_chat_card").css("background", "#171332");
    $(".non_user_chat_text").addClass("new_color");//#69779b
});

$(".yellow_color").on("click", function(){
    $(".non_user_chat_card").css("background", "linear-gradient(to right, rgb(100, 65, 165), rgb(42, 8, 69))")//"#0f0a3c")// "linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85))")// "#171332")// "linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121))")// "#200f21")// "linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62))")// "linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83))");//"#171332");
    $(".non_user_chat_text").addClass("new_color");//#69779b
});
</script>
<script>
    //$("#chat_content").scrollTop($("#chat_content").height());
    $('#chat_content').scrollTop($('#chat_content')[0].scrollHeight);
    $(function(){

        $("#chat_form").on("submit", function(e){
            e.preventDefault();

            var message_sent = $(".message_box").val();
            var id = $(".message_box").attr("user_id");
            $.post('/sending', {'message':message_sent, 'id':id}, function(){
                console.log("Sent");
                $('.message_box').val('');
            });
        });

        var pusher = new Pusher('2281811cac7fdcfac988', {
            cluster: 'us2',
            encypted: true
        });

        var channel = pusher.subscribe('chat-channel');

        channel.bind('new-message', function(data) {
            let message_template = `<div class="col right current_user_col">
                                        <div class="card current_user_chat_card">
                                            <div class="card-body">
                                                <p class="chat_text">${data.message}</p>
                                            </div>
                                        </div>
                                    </div>`
            //$("#chat_content").scrollTop($("#chat_content").height());
            $(".typing_text").remove();
            $("#chat_content").append(message_template);
            $('#chat_content').scrollTop($('#chat_content')[0].scrollHeight);
            //$("#chat_content").scrollTop($("#chat_content").height()); 
        });

    });


    $(function(){

        $(".message_box").on("keypress", function(){
            var id = 'true'
            $.post('/check_typing', {'id':id}, function(){
                console.log("Sent");
            });
        });

        var pusher = new Pusher('2281811cac7fdcfac988', {
            cluster: 'us2',
            encypted: true
        });

        var channel = pusher.subscribe('typing-channel');
        channel.bind('new-typing', function(data) {
            if (data.typing == 'true'){
                $(".typing_text").remove();
                $(".user_typing").append('<p class="text-right typing_text" style="margin-left-20px;">' + data.username  + 'is typing')
            }
            //$("#chat_content").scrollTop($("#chat_content").height()); 
            //$("#chat_content").append(message_template);
            //$('#chat_content').scrollTop($('#chat_content')[0].scrollHeight);
            //$("#chat_content").scrollTop($("#chat_content").height()); 
        });

    });
</script>
{% endblock %}