<style>
@media(max-width: 1200px){
	.current_user_chat_card{
		width: 50%;
	}
	.non_user_chat_card{
		width: 50%;
	}
}

@media(max-width: 1140px){
	.current_user_chat_card{
		width: 64%;
	}
	.non_user_chat_card{
		width: 64%;
	}
	.right{
		margin-left: 160px;
	}
	.send_button{
		padding: 11px 25px !important;
		margin-left: -20px;
	}
}

@media(max-width: 1110px){
	.current_user_chat_card{
		width: 64%;
	}
	.non_user_chat_card{
		width: 64%;
	}
	.right{
		margin-left: 140px;
	}
}

@media(max-width: 1040px){
	.current_user_chat_card{
		width: 70%;
	}
	.non_user_chat_card{
		width: 70%;
	}
	.right{
		margin-left: 100px;
	}
}

@media(max-width: 770px){
	.current_user_chat_card{
		width: 75%;
	}
	.non_user_chat_card{
		width: 75%;
	}
	.right{
		margin-left: 80px;
	}
}

@media(max-width: 767px){
	.current_user_chat_card{
		width: 50%;
	}
	.non_user_chat_card{
		width: 50%;
	}
	.right{
		margin-left: 300px !important;
	}
}

@media(max-width: 670px){
	.current_user_chat_card{
		width: 50%;
	}
	.non_user_chat_card{
		width: 50%;
	}
	.right{
		margin-left: 280px !important;
	}
	.left{
		margin-left: 20px;
	}
}

@media(max-width: 630px){
	.current_user_chat_card{
		width: 50%;
	}
	.non_user_chat_card{
		width: 50%;
	}
	.right{
		margin-left: 260px !important;
	}
	.left{
		margin-left: 15px;
	}
}


@media(max-width: 600px){
	.current_user_chat_card{
		width: 50%;
	}
	.non_user_chat_card{
		width: 50%;
	}
	.right{
		margin-left: 240px !important;
	}
	.left{
		margin-left: 20px;
	}
}

@media(max-width: 575px){
	.current_user_chat_card{
		width: 55%;
	}
	.non_user_chat_card{
		width:  55%;
	}
	.right{
		margin-left: 200px !important;
	}
	.left{
		margin-left: 20px;
	}
	.send_button{
		float: right !important;
		margin-top: -56px;
	}
}

@media(max-width: 515px){
	.current_user_chat_card{
		width: 62%;
	}
	.non_user_chat_card{
		width:  62%;
	}
	.right{
		margin-left: 150px !important;
	}
	.left{
		margin-left: 20px;
	}
	.current_user_col{
	   margin-top: -15px !important;
	}
}

@media(max-width: 472px){
	.current_user_chat_card{
		width: 66%;
	}
	.non_user_chat_card{
		width:  66%;
	}
	.right{
		margin-left: 115px !important;
	}
	.left{
		margin-left: 20px;
	}
}

@media(max-width: 450px){
	.current_user_chat_card{
		width: 70%;
	}
	.non_user_chat_card{
		width:  70%;
	}
	.right{
		margin-left: 100px !important;
	}
	.left{
		margin-left: 20px;
	}
}

@media(max-width: 431px){
	.current_user_chat_card{
		width: 75%;
	}
	.non_user_chat_card{
		width:  75%;
	}
	.right{
		margin-left: 90px !important;
	}
	.left{
		margin-left: -5px;
	}
}

@media(max-width: 410px){
	.current_user_chat_card{
		width: 75%;
	}
	.non_user_chat_card{
		width:  75%;
	}
	.right{
		margin-left: 90px !important;
	}
	.left{
		margin-left: -5px;
	}
}

@media(max-width: 395px){
	.current_user_chat_card{
		width: 75%;
	}
	.non_user_chat_card{
		width:  75%;
	}
	.right{
		margin-left: 80px !important;
	}
	.left{
		margin-left: -5px;
	}
}

@media(max-width: 360px){
	.current_user_chat_card{
		width: 80%;
	}
	.non_user_chat_card{
		width:  80%;
	}
	.right{
		margin-left: 70px !important;
	}
	.left{
		margin-left: -5px;
	}
}

@media(max-width: 330px){
	.current_user_chat_card{
		width: 82%;
	}
	.non_user_chat_card{
		width:  82%;
	}
	.right{
		margin-left: 60px !important;
	}
	.left{
		margin-left: -5px;
	}
}
</style>