<style>
body{
	background: linear-gradient(to right, #303030, #202020, #151515);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.login_box{
	background: #101010;
}
.login_input{
	background: transparent !important;
	border: 1px solid #581b98;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.login_input:focus{
	outline: none !important;
	box-shadow: none !important;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
	border: 1px solid #00112c;
}
.login_input::placeholder{
	color: aliceblue !important;
}
.login_button{
	color: aliceblue !important;
	box-shadow: none !important;
	border: 1px solid #101010;
	background: #131313;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.login_button:focus{
	outline: none !important;
	box-shadow: none !important;
	background: #151515;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.no_account{
	margin-top: -30px;
	color: aliceblue;
	font-size: 14px;
}
.no_account a{
	text-decoration: none !important;
}

.register_box{
	background: #101010;
}
.register_input{
	background: transparent !important;
	border: 1px solid #581b98;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.register_input:focus{
	outline: none !important;
	box-shadow: none !important;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
	border: 1px solid #00112c;
}
.register_input::placeholder{
	color: aliceblue !important;
}
.register_button{
	color: aliceblue !important;
	box-shadow: none !important;
	border: 1px solid #101010;
	background: #131313;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.register_button:focus{
	outline: none !important;
	box-shadow: none !important;
	background: #151515;
	transition: 0.2s linear !important;
	transition-delay: 0.2s !important;
}
.form-control{
	color: lavenderblush !important;
}


@media(max-width: 375px){
	.no_account{
		margin-top: -3px;
		margin-bottom: -13px;
	}
}

#nav_icon{
	font-size: 20px !important;
	color: aliceblue !important;
}

</style>